body{
    background-color: #f9f7fe;
    margin: 0 auto;
    padding: 90px 70px;
    cursor: default;
}
.icon{
    text-align: center;
    padding: 25px 0;
    margin: 0 auto;
    font-family: Bona Nova SC;
    color: darkslategray;
}

/*Styling of manin content*/
.content{
    background-color: #eff3f48f;
    max-width: 500px;
    margin: 30px auto;
    padding: 0 40px;
    border-radius: 10px;
    box-shadow: 9px 9px 9px rgba(0, 0, 0,0.3);
}
.location, .temperature{
    align-items: center;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    -moz-box-align: center;
    color: darkslategray;
    
}
.temprate{
    margin: 30px;
    font-family: Bona Nova SC;
    text-align: end;
}

.temp{
    display: flex;
    margin: 0;
    width: fit-content;
    height: 100px ;
    justify-content: flex-end;
}

/*Search styling*/
.search,.go{
padding: 10px;
border-radius: 5px;
border: solid 1.5px;
}
.search{
    width: 75%;
    background: transparent;
}
.go{
    width: 14%;
    padding: 11px 5px;
    background: darkslategray;
    color: #f9f7fe;
    cursor: pointer;
    transition: all ease 2ms;
}
.go:hover{
    background: #f9f7fe;
    color: darkgrey;
}
.go:active{
    background: rgb(35, 59, 59);
    color: #f9f7fe;
}
.location{
    color: darkslategray;
}


/*miscellenious*/
.weather-info{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 100%;
    color: darkslategray;
    text-align: center;
}
b{
    color: rgb(67, 67, 67);
}
.degrees{
    font-size: 20px;
}
/*Footer styling*/
footer{
    text-align: center;
    color: rgb(103, 101, 101);
    cursor: default;
    padding: 5px;
}
/*Link styling*/
a{
    text-decoration: none;
    color: darkslategray;
    cursor: pointer;
    font-family: Bona Nova SC;
    font-size: 15px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    margin: 25px auto;
    font-size: 20px;
    font-family: Bona Nova SC;
    color: darkslategray;;
}

/*Conditional Themes*/
.rainy{
    background-image: url(cloudy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sunny{
    background-image: url(sunny.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Imported font*/
.bona-nova-sc-regular {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

.bona-nova-sc-bold {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}

.bona-nova-sc-regular-italic {
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: italic;
}
